body {
  margin: 0;
  width: 100%;
  font-family: Pretendard;
}
main::after {
  content: "";
  position: absolute;
  top: 3819px;
  width: 100%;
  height: 340px;
  background-image: url(./images/img_8.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
}
#header-wrap {
  height: 900px;
  background-color: #f2e9d8;
}
#footer-wrap {
  height: 160px;
}
.navigation-bar {
  height: 102px;
  display: flex;
  position: fixed;
  z-index: 1;
}
.header-logo {
  width: 130px;
  height: 40px;
  position: relative;
  top: 30%;
  left: 25%;
}
.nav-btns {
  width: 250px;
  height: 20px;
  list-style-type: none;
  display: flex;
  position: relative;
  top: 30%;
  left: 140%;
}
.nav-btns > li {
  margin-right: 30px;
  line-height: 20px;
  font-size: 16px;
  color: #000000;
}
.nav-btns a {
  text-decoration: none;
  color: inherit;
}
.download-btn {
  cursor: pointer;
  width: 140px;
  height: 50px;
  border-radius: 40px;
  border: none;
  text-align: center;
  background-color: #d97652;
  color: #ffffff;
  line-height: 20px;
  font-size: 16px;
  font-weight: 700;
  font-style: normal;
}
.navigation-bar > .download-btn {
  position: relative;
  top: 30%;
  left: 140%;
}
.header-contents {
  display: flex;
}
.header-content > .header-contents-item {
  position: absolute;
}
.header-contents-item > h1 {
  width: 740px;
  height: 120px;
  position: relative;
  top: 40%;
  left: 18%;
  font-weight: 700;
  font-size: 48px;
  line-height: 60px;
  color: #000000;
}
.header-contents-item > p {
  width: 420px;
  height: 86px;
  position: relative;
  top: 38%;
  left: 18%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.header-contents-item > .download-btn {
  position: relative;
  top: 39%;
  left: 18%;
}
.header-contents img {
  width: 415px;
  height: 766px;
  position: relative;
  top: 18%;
  left: 45%;
}
.main-contents-1st {
  display: flex;
}
.main-contents-1st img {
  width: 660px;
  height: 390px;
  position: relative;
  top: 25%;
  left: 19%;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}
.main-contents-1st .paragraph-1st {
  width: 510px;
  height: 135px;
  position: relative;
  top: 38%;
  left: 40%;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  color: #000000;
}
.main-contents-1st .paragraph-2nd {
  width: 510px;
  height: 40px;
  position: relative;
  top: 38%;
  left: 40%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.main-contents-2nd {
  position: absolute;
}
.main-contents-2nd > .paragraph-3rd {
  width: 875px;
  height: 60px;
  position: relative;
  top: 140px;
  left: 30%;
  font-weight: 700;
  font-size: 45px;
  line-height: 60px;
  text-align: center;
  color: #d97652;
}
.main-contents-2nd > .paragraph-4th {
  width: 710px;
  height: 42px;
  position: relative;
  top: 120px;
  left: 38%;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #000000;
}
.paragraph-4th > span {
  font-weight: 700;
  color: #d97652;
}
.main-contents-3rd {
  position: absolute;
}
.main-contents-3rd div {
  width: 1280px;
  height: 378px;
  display: flex;
  justify-content: space-between;
}
.main-contents-3rd .img-group {
  width: 378px;
  height: 378px;
  border-radius: 30px;
  box-shadow: 10px 10px 30px 0px #00000040;
}
.main-contents-3rd .img-container-1st {
  position: relative;
  top: 390px;
  left: 9.5%;
}
.main-contents-3rd .img-container-2nd {
  position: relative;
  top: 460px;
  left: 9.5%;
}
.main-contents-4th {
  width: 290px;
  height: 108px;
  position: relative;
  gap: 28px;
  align-items: center;
}
.main-contents-4th > p {
  width: 290px;
  height: 30px;
  position: absolute;
  top: 1330px;
  left: 610px;
  font-weight: 700;
  font-size: 23px;
  line-height: 30px;
  text-align: center;
}
.main-contents-4th > .show-more-btn {
  width: 143px;
  height: 50px;
  position: absolute;
  top: 1410px;
  left: 669px;
  gap: 10px;
  border-radius: 40px;
  border: none;
  background-color: #d97652;
  cursor: pointer;
}
.show-more-btn > span {
  width: 85px;
  height: 20px;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
#custom-hr {
  width: 1280px;
  height: 1px;
  position: relative;
  top: 1440px;
  left: 10px;
  color: #c4c4c4;
}
.main-contents-5th {
  position: absolute;
}
.main-contents-5th > .paragraph-5th {
  width: 263px;
  height: 45px;
  position: relative;
  top: 1460px;
  left: 9.5%;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  color: #000000;
}
.main-contents-5th > .paragraph-6th {
  width: 395px;
  height: 20px;
  position: relative;
  top: 1440px;
  left: 9.5%;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #606367;
}
.main-contents-5th > img {
  width: 1280px;
  height: 520px;
  position: relative;
  top: 1450px;
  left: 9.5%;
  border-radius: 12px;
  background-color: #e8e8e8;
}
.main-contents-6th {
  width: 1280px;
  height: 200px;
  position: absolute;
  top: 3700px;
  left: 8%;
  display: flex;
  border-radius: 30px;
  background-color: #263140;
}
.text-item > .paragraph-7th {
  width: 448px;
  height: 45px;
  position: relative;
  top: 13%;
  left: 13%;
  font-weight: 700;
  font-size: 34px;
  line-height: 45px;
  color: #ffffff;
}
.text-item > .paragraph-8th {
  width: 471px;
  height: 36px;
  position: relative;
  top: 3%;
  left: 13%;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #f2e9d8;
}
.main-contents-6th .input-item {
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-item > input {
  width: 470px;
  height: 60px;
  position: relative;
  top: 75px;
  left: 25%;
  padding-left: 60px;
  border: none;
  border-radius: 60px;
  background-color: #ffffff;
}
.input-item > input::placeholder {
  width: 250px;
  height: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #767676;
}
.input-item > img {
  width: 24px;
  height: 24px;
  position: relative;
  top: 75px;
  left: 32%;
  z-index: 1;
}
.input-item > .subscribe-btn {
  width: 135px;
  height: 50px;
  position: relative;
  top: 75px;
  left: 3.5%;
  border: none;
  border-radius: 40px;
  background-color: #d97652;
  cursor: pointer;
}
.subscribe-btn > span {
  width: 77px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
.footer-contents {
  display: flex;
  position: absolute;
}
.footer-contents > .footer-logo {
  width: 226px;
  height: 70px;
  position: relative;
  top: 2780px;
  left: 32%;
}
.footer-contents > .footer-icons {
  width: 228px;
  height: 42px;
  display: flex;
  justify-content: space-between;
  position: relative;
  top: 2795px;
  left: 205%;
}
.footer-icons > img {
  width: 42px;
  height: 42px;
  color: #f29d52;
}
.modal {
  width: 600px;
  height: 400px;
  position: absolute;
  display: none;
  top: 3627px;
  left: 200px;
  border-radius: 30px;
  background-color: #ffffff;
  box-shadow: 0px 0px 30px 0px #00000033;
  background-image: url(./images/modal-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.modal > img {
  width: 110px;
  height: 112px;
  position: relative;
  top: 60px;
  left: 245px;
}
.modal > .paragraph-9th {
  width: 212px;
  height: 46px;
  position: relative;
  top: 45px;
  left: 194px;
  font-weight: 700;
  font-size: 36px;
  line-height: 45px;
  text-align: center;
  color: #d97652;
}
.modal > .paragraph-10th {
  width: 365px;
  height: 18px;
  position: relative;
  top: 26px;
  left: 108px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: #000000;
}
.modal > .ok-btn {
  width: 183px;
  height: 50px;
  position: relative;
  top: 27px;
  left: 205px;
  border: none;
  border-radius: 40px;
  background-color: #d97652;
  cursor: pointer;
}
.ok-btn > span {
  width: 125px;
  height: 20px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;
}
